/*idnex.html*/

.body {
    background: rgb(56, 42, 82);
    margin: 0px;
}

.main {
    padding-top: 30px;
}

.heading {
    color: #4c2563fa;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    max-width: 900px;
    border: 3px dashed #980319;
    border-radius: 6px;
    margin: 32px auto;
    text-align: center;
}

.about {
    margin: 32px auto;
    background: rgba(255, 255, 255, 0.4);
    ;
    width: 100%;
    max-width: 570px;
    border-bottom: 3px solid #980319;
    border-top: 3px solid #980319;
    border-radius: 9px;
}

.about__header {
    color: #002b5c;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.diary__header {
    color: #002b5c;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.diary {
    margin: 32px auto;
    background: rgba(255, 255, 255, 0.4);
    filter: alpha(opacity=50);
    width: 100%;
    max-width: 570px;
    border-bottom: 3px solid #980319;
    border-top: 3px solid #980319;
    border-radius: 9px;
}

.diary__subheading {
    color: #195281;
    margin-bottom: 10px;
    margin-top: 10px;
}

.top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #1A936F;
    text-decoration: none;
}
/*--------------general-------------*/

.p {
    color: #980319;
    padding-left: 16px;
    overflow: hidden;
}

.footer {
    color: #252222;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    max-width: 570px;
    margin: 32px auto;
    border-radius: 6px;
    border: 1px dashed #980319;
}

a {
    color: wheat
}

.navigation {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    background: #000000;
}
/*-------dzien2-3.html----------*/

.dzien2-3__article--header {
    color: wheat;
}

.dzien2-3__body {
    background: rgb(56, 42, 82);
    margin: 0px;
}

.dzien2-3__main {
    padding-top: 30px;
}

.dzien2-3__article {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    max-width: 570px;
    margin: 32px auto;
    text-align: center;
}

/*-----dzien4-5.html------*/

.dzien4-5__main {
    padding-top: 30px;
}

.dzien4-5__article {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    max-width: 570px;
    margin: 32px auto;
    text-align: center;
}

.dzien4-5__article--header {
    color: wheat;
}

/*-------SUBPAGE------*/

.subpage__article {
    background: rgba(255, 255, 255, 0.5);
    max-width: 700px;
    width: 100%;
    text-align: center;
    margin: 32px auto;
    border-radius: 9px;
}

.subpage__article--footer {
    color: #980319;
    width: 100%;
    max-width: 570px;
    margin: 32px auto;
    border-radius: 6px;
}

.subpage__body {
    background-image: url(tlopodstrona.jpg);
    margin: 0px;
}

.subpage__article--header {
    color: #746d18;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*--------???????---------*/

.Stronawbudowie {
    background-color: #ffffff;
    background-image: url("https://www.pecetowicz.pl/images/strona-w-budowie.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.box {
    width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    margin: 10px;
    box-sizing: border-box;
    position: sticky;
    left: 50%;
    top: 10px;
}

.panzestocka {
    margin-right: 10px;
    width: 100%;
    max-width: 200px;
    display: block;
    float: left
}