/*idnex.html*/

.body {
    background: rgb(178, 66, 252);
    background: linear-gradient(0deg, rgba(178, 66, 252, 1) 0%, rgba(126, 0, 163, 1) 100%);
    margin: 0px;
}

.main {
    padding-top: 30px;
}

.heading {
    color: #4c2563fa;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    max-width: 900px;
    border: 3px dashed #980319;
    border-radius: 6px;
    margin: 32px auto;
    text-align: center;
}

.about {
    margin: 32px auto;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    max-width: 570px;
    border-bottom: 3px solid #980319;
    border-top: 3px solid #980319;
    border-radius: 9px;
}

.about__header {
    color: #002b5c;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.diary__article--link {
    text-decoration: none;
}

.diary__header {
    color: #002b5c;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.diary {
    margin: 32px auto;
    background: rgba(255, 255, 255, 0.4);
    filter: alpha(opacity=50);
    width: 100%;
    max-width: 570px;
    border-bottom: 3px solid #980319;
    border-top: 3px solid #980319;
    border-radius: 9px;
}

.diary__subheading {
    color: #195281;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.diary__subheading--firstday .top {
    position: fixed;
    bottom: 10px;
    right: 10px;
    color: #1A936F;
    text-decoration: none;
}

/*--------------general-------------*/

.p {
    color: #980319;
    padding-left: 16px;
    overflow: hidden;
}

.footer {
    color: #252222;
    background: rgba(255, 255, 255, 0.4);
    width: 100%;
    max-width: 570px;
    margin: 32px auto;
    border-radius: 6px;
    border: 1px dashed #980319;
}

a {
    color: wheat
}

.main__header {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 0px;
    background: #000000;
}

.navigation__list {
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: row;
    font-size: larger;
    justify-content: center;
    align-items: center;
}

.navigation__item {
    display: block;
    margin: 0 16px;
    text-decoration: none;
}

/*-------dzien2-3.html----------*/

.dzien2-3__article--header {
    color: wheat;
}

.dzien2-3__body {
    background: rgb(56, 42, 82);
    margin: 0px;
}

.dzien2-3__main {
    padding-top: 30px;
}

.dzien2-3__article {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    max-width: 570px;
    margin: 32px auto;
    text-align: center;
}

/*-----dzien4-5.html------*/

.dzien4-5__main {
    padding-top: 30px;
}

.dzien4-5__article {
    color: red;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    max-width: 570px;
    margin: 32px auto;
    text-align: center;
}

.dzien4-5__article--header {
    color: wheat;
}

/*-------SUBPAGE------*/

.subpage__article {
    background: rgba(255, 255, 255, 0.5);
    max-width: 700px;
    width: 100%;
    text-align: center;
    margin: 32px auto;
    border-radius: 9px;
}

.subpage__article--footer {
    color: #980319;
    width: 100%;
    max-width: 570px;
    margin: 32px auto;
    border-radius: 6px;
}

.subpage__body {
    background-image: url(tlopodstrona.jpg);
    margin: 0px;
}

.subpage__article--header {
    color: #746d18;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*--------???????---------*/

.Stronawbudowie {
    background-color: #ffffff;
    background-image: url("https://www.pecetowicz.pl/images/strona-w-budowie.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
}

.box {
    width: 100px;
    height: 100px;
    background: yellowgreen;
    padding: 10px;
    border: 10px solid red;
    margin: 10px;
    box-sizing: border-box;
    position: sticky;
    left: 50%;
    top: 10px;
}

.panzestocka {
    margin-right: 10px;
    width: 100%;
    max-width: 200px;
    display: block;
    float: left
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.grid {
    display: grid;
    grid-template-areas: "top top2" "bottom bottom" "nav nav";
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}

.article__no1 {
    grid-area: top;
}

.article__no2 {
    grid-area: top2;
}

.article__no3 {
    grid-area: bottom;
}

.article__links {
    grid-area: nav;
}

@media (max-width:640px) {
    .grid {
        grid-template-columns: 1fr;
        grid-template-areas: "top" "top2" "bottom" "nav";
    }
    .diary__article--link {
        color: black;
    }
    .article__no1 {
        grid-area: top;
    }
    .article__no2 {
        grid-area: top2;
    }
    .article__no3 {
        grid-area: bottom;
    }
    .article__links {
        grid-area: nav;
    }
}